html {
	height: 100%;
}

body {
	margin: 0px 0px 0px 0px;
	color: black;
	font-size: 12px;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #f3f2f2;
}

#container {
	height: 95%;
	position: relative;
}

#body-left {
	float: left;
	width: 195px;
	padding-bottom: 10px;
	border-left: 2px #5C88C1 solid;
	border-bottom: 2px #5C88C1 solid;
	border-top: 2px #5C88C1 solid;
	padding-top: 10px;
	background-color: white;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topleft: 5px;
}

#body {
	float: left;
	width: 100%;
	padding-bottom: 40px;
}
#footer p {
    text-align: center;
    font-size: 17px;
    margin-top: 6px;
}

#footer {
	bottom: 0;
	width: 99%;
	height: 30px;
	margin: 0 auto;
	font-size: 10px;
	border: 1px solid #A8A8A8;
	color: #333;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.dr-pnl {
	border: none;
}
.pe-imgageareaselect-outer{
    
    z-index: 9999 !important;
}

#headBanner {
	height: 80px;
	/*background-color:#00484E;
	background-color:black;*/
	/*background: #405F62;*/
	background-color: #3F6398;
}

#user-info {
	color: #5C88C1;
	text-align: center;
	font-weight: bolder;
}

#favorites {
	width: 95%;
	margin: 0 auto;
}

#notification-bar {
	height: 25px;
	margin-top: -35px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#notification-container {
	background-color: #5C88C1;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	width: 90%;
	margin: 0 auto;
	z-index: 11;
	height: 25px;
	color: white;
}

#notification-container a {
	text-decoration: none;
	font-weight: bold;
}

#links-left {
	float: left;
	width: 40%;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
}

#links-right {
	float: right;
	width: 40%;
	text-align: right;
	padding-right: 10px;
	padding-top: 7px;
}

.menuBar td {
	vertical-align: middle;
}

.menuBar {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgb(92,
		92, 92) ), color-stop(0.58, rgb(68, 68, 68) ) );
	background-image: -moz-linear-gradient(center bottom, rgb(92, 92, 92)
		10%, rgb(68, 68, 68) 63% );
	height: 34px;
	border: none;
	border-top: 1px solid #7B7B7B;
	border-top: 1px solid #5B5B5B;
}

.dr-toolbar-int {
	padding: 0px 10px 0px 10px;
}

.lblFrm {
	font-size: 11px;
	color: black;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	margin-top: 2px;
}

.firstMenuItem {
	padding-left: 16px;
}

.rich-ddmenu-label-select {
	height: 19px;
	padding-top: 7px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgb(112
		, 112, 112) ), color-stop(0.58, rgb(88, 88, 88) ) );
	background-image: -moz-linear-gradient(center bottom, rgb(92, 92, 92)
		10%, rgb(68, 68, 68) 63% );
	border: 1px solid rgb(68, 68, 68);
}

.rich-toolbar-item {
	color: white;
	font-size: 11px;
}

.rich-menu-list-bg {
	background-image: url('../sapiImg/bgSubMenu.png');
	background-position: top left;
	background-repeat: repeat;
}

.rich-menu-item,.dr-menu-label-select:hover {
	text-decoration: none;
	color: white;
}

.rich-menu-item-hover {
	border: 1px solid #EBEBEB;
	border-bottom: #E6E6E6;
	background-color: #EBEBEB;
	text-decoration: none;
	background-image: url('../sapiImg/bulletOption.png');
	background-position: 4px 3px;
	background-repeat: no-repeat;
}

#linksFavorite {
	border-width: 0;
}

#linksFavorite td {
	border-width: 0;
}

#favoPanel_body {
	min-height: 40px;
	max-height: 115px;
}

.userImage {
	border: 2px #5C88C1 solid;
}

/*rich-panel*/
.rich-panel {
	min-height: 600px;
	padding-bottom: 20px;
}

/*Accesos*/
.rich-stglpnl-marker {
	
}

.rich-stglpanel-body {
	background-color: white;
}

.alert {
	font-size: 1.2em;
	font-weight: bold;
}

/*Estilo de los picklist*/
.rich-list-picklist-button a {
	color: black;
}

.rich-list-picklist-button-light a:hover {
	color: black;
}

.rich-list-picklist-button-press a:hover {
	color: black;
}

/*iconos de botones etc*/
.saveBtn {
	background-image: url(../sapiImg/DB_save16.png) !important;
}

.clearBtn {
	background-image: url(../sapiImg/DB_clear16.png) !important;
}

.newBtn {
	background-image: url(../sapiImg/DB_new16.png) !important;
}

.deleteBtn {
	background-image: url(../sapiImg/DB_delete16.png) !important;
}

.doCancelBtn {
	background-image: url(../sapiImg/DB_cancel.png) !important;
}

.resetBtn {
	background-image: url(../sapiImg/back16.png) !important;
}

.modifyBtn {
	background-image: url(../sapiImg/DB_ok16.png) !important;
}

.modalBtn {
	background-image: url(../sapiImg/modal16.png) !important;
}

.detailBtn {
	background-image: url(../sapiImg/detail16.png) !important;
}

.cancelBtn {
	background-image: url(../sapiImg/cancel16.png) !important;
}

.listBtn {
	background-image: url(../sapiImg/table16.png) !important;
}

.upBtn {
	background-image: url(../sapiImg/arrow_up16.png) !important;
}

.downBtn {
	background-image: url(../sapiImg/arrow_down16.png) !important;
}

.addBtn {
	background-image: url(../sapiImg/add16.png) !important;
}

.removeBtn {
	background-image: url(../sapiImg/remove16.png) !important;
}

.searchBtn {
	background-image: url(../sapiImg/search16.png) !important;
}

.backBtn {
	background-image: url(../sapiImg/back16.png) !important;
}

.editBtn {
	background-image: url(../sapiImg/table_edit16.png) !important;
}

.rightBtn {
	background-image: url(../sapiImg/arrow_right.png) !important;
}

.leftBtn {
	background-image: url(../sapiImg/arrow_left.png) !important;
}

.impBtn {
	background-image: url(../sapiImg/printer.png) !important;
}

.folderBtn {
	background-image: url(../sapiImg/folder_table.png) !important;
}

.moneyBtn {
	background-image: url(../sapiImg/money.png) !important;
}

.apprBtn {
	background-image: url(../sapiImg/accept16.png) !important;
}

.rejectBtn {
	background-image: url(../sapiImg/cancel16.png) !important;
}

.excBtn {
	background-image: url(../sapiImg/excel20.png) !important;
}

.pdfBtn {
	background-image: url(../sapiImg/pdf20.jpg) !important;
}

.docBtn {
	background-image: url(../sapiImg/doc20.png) !important;
}

.pptBtn {
	background-image: url(../sapiImg/ppt20.png) !important;
}

.subtotal {
	font-weight: bold !important;
	font-size: 23px !important;
}

.rich-table-footer {
	text-align: right !important;
}

.ui-widget {
	font-size: 90%;
}

.ui-fieldset-content {
    overflow: hidden !important;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.ui-menuitem-text {
	font-size: medium;
}

.ui-no-border {
	border: none !important;
}

.ui-tree-node-label {
	padding-left: 10px !important;
	margin-left: 10px !important;
}

.ui-state-hover {
	cursor: hand;
}

.ui-home-menu-item {
	margin-right: 20px !important;
}

.ui-root-menu-item {
	border-width: 1px !important;
	border-right-style: solid !important;
	border-color: graytext !important;
	color: green !important;
	border-radius: 0px !important;
	margin-right: 20px !important;
	padding-right: 20px !important;
}
/* .ui-menu-parent{
	padding: 0px 0px 0px 0px !important;
	border-width: 1px !important;
	border-right-style: solid !important;
	border-color: graytext !important;		
}


.ui-widget-header {
	background: linear-gradient(#DDD, #666666) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDD),
		color-stop(100%, #666666) ) !important;
	background: -webkit-linear-gradient(#DDD, #666666) !important;
	background: -moz-linear-gradient(#DDD, #666666) !important;
	background: -ms-linear-gradient(#DDD, #666666) !important;
	background: -o-linear-gradient(#DDD, #666666) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDD',
		endColorstr='#666666ddd' ) !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDD',
		endColorstr='#666666ddd' ) !important;
	background: linear-gradient(#DDD, #666666) !important;
}
*/