<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <mime-mapping>
      <extension>ttf</extension>
      <mime-type>application/x-font-ttf</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>woff</extension>
      <mime-type>application/x-font-woff</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>woff2</extension>
      <mime-type>application/x-font-woff2</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>eot</extension>
      <mime-type>application/x-font-eot</mime-type>
   </mime-mapping>

    <listener>
        <listener-class>com.asi.restaurantebcd.job.QuartzListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Login filter -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.asi.restaurantebcd.controller.seguridad.LoginFilter</filter-class>
    </filter>
    <!-- Set the login filter to secure all the pages in the /secured/* path of the application  -->
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/mantenimientos/*</url-pattern>
        <url-pattern>/compras/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>com.asi.restaurantebcd.negocio.util.Reporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/Reporte</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
        <param-value>false</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>BusquedasProductos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.negocio.base.BusquedasProductosLocal</local>
        <ejb-link>BusquedasProductos</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>/TestEJB</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.job.TareaEJBLocal</local>
        <ejb-link>/TestEJB</ejb-link>
    </ejb-local-ref>
     <ejb-local-ref>
        <ejb-ref-name>/JobEJB</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.job.JobEJBLocal</local>
        <ejb-link>/JobEJB</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>/procesaFacturasEJB</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.job.TareaEJBLocal</local>
        <ejb-link>/procesaFacturasEJB</ejb-link>
    </ejb-local-ref>
        <ejb-local-ref>
        <ejb-ref-name>PedidoOnline</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.negocio.base.PedidoOnlineLocal</local>
        <ejb-link>PedidoOnline</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PedidoOnline1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.negocio.base.PedidoOnlineLocal</local>
        <ejb-link>PedidoOnline</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CrudBDC</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.negocio.base.CrudBDCLocal</local>
        <ejb-link>CrudBDC</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PedidoOnline2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.asi.restaurantebcd.negocio.base.PedidoOnlineLocal</local>
        <ejb-link>PedidoOnline</ejb-link>
    </ejb-local-ref>
</web-app>
